{% extends "app/layout.html" %}

{% block content %}

<div>
    <form id="frmadd">     {% csrf_token %}

        <p class="h4">Ingrese datos:</p>
        <div class="input-group mb-3 ">
          <span class="input-group-text" id="f">f(x)=</span>
          <input type="text" name="f" class="form-control " placeholder="funcion" aria-label="f" aria-describedby="f">
          <div id="msg_error_f"></div>
        </div>
        <div id="input-cont-g" class="input-group mb-3 " style="display:none">
          <span class="input-group-text" id="g">g(x)=</span>
          <input type="text" name="g" class="form-control " placeholder="funcion" aria-label="g" aria-describedby="g" disabled>
          <div id="msg_error_g"></div>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">Xi</span>
          <input type="text" name="Xi" class="form-control" placeholder="Valor inferior" aria-label="Xi">
            <div id="msg_error_Xi"></div>
        </div>
            <div class="input-group mb-3">
          <span class="input-group-text">Xu</span>
          <input type="text" name="Xu" class="form-control" placeholder="Valor superior" aria-label="Xu">
                <div id="msg_error_Xu"></div>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text " id="basic-addon1">n</span>
          <input type="text" name="n" class="form-control" placeholder="Cifras Significativas" aria-label="n" aria-describedby="n">
            <div id="msg_error_n"></div>
        </div>

        <p>
            <a class="btn  btn-outline-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Ayuda</a>
        </p>
        <div class="row mb-3">
            <div class="col-sm-3">
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                   <div class="card border-primary mb-3" style="max-width: 18rem;">
                      <div class="card-header">Formato</div>
                      <div class="card-body text-secondary">
                        <h5 class="card-title">Decimales</h5>
                        <p class="card-text">Usa el punto {.} para expresar decimales<br /> Ej. 0.5</p>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                   <div class="card border-primary mb-3" style="max-width: 18rem;">
                      <div class="card-header">Formato</div>
                      <div class="card-body text-secondary">
                        <h5 class="card-title">Potencias</h5>
                        <p class="card-text">Usa doble asterisco {**} para expresar potencias<br /> Ej. x**5</p>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                   <div class="card border-primary mb-3" style="max-width: 18rem;">
                      <div class="card-header">Formato</div>
                      <div class="card-body text-secondary">
                        <h5 class="card-title">Parentesis</h5>
                        <p class="card-text">El orden de las operaciones matematicas se realiza del parentesis interno al externo<br /> Ej. 5*(4-2)/(5-5) = 10</p>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                   <div class="card border-primary mb-3" style="max-width: 18rem;">
                      <div class="card-header">Formato</div>
                      <div class="card-body text-secondary">
                        <h5 class="card-title">Para funciones compuestas</h5>
                        <p class="card-text">Usa {ln()} para expresar logarimos naturales<br /> Ej. ln(1)</p>
                          <p class="card-text">Usa {exp()} para expresar exponenciales<br /> Ej. exp(1.25)</p>
                      </div>
                    </div>
                </div>
            </div>
        </div>

    <h5>Metodo Cerrado</h5>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="method" id="method_bi" value="biseccion" checked>
          <label class="form-check-label" for="method_bi">
            Biseccion
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="method" value="regla_falsa" id="method_rf" >
          <label class="form-check-label" for="method_rf">
            Regla falsa
          </label>
        </div>

    <h5>Metodo Abierto</h5>
        <div class="form-check">
          <input class="form-check-input method_a" type="radio" name="method" value="rapshon_newton" id="method_rn" >
          <label class="form-check-label" for="method_rn">
            Raphson-Newton
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input method_a" type="radio" name="method" value="secante" id="method_se">
          <label class="form-check-label" for="method_se">
            Secante
          </label>
        </div>
        <div class="form-check mb-3">
          <input class="form-check-input method_a" type="radio" name="method" value="punto_fijo" id="method_s" >
          <label class="form-check-label" for="method_">
            Punto Fijo
          </label>
        </div>

    </form>
    <button id="submit" class="btn btn-primary">
    <span id="submit_text" class="" role="status" aria-hidden="true"></span>
    Calcular
    </button>
</div>
 <hr/>
<div class="card mb-3">
  <div class="card-header">
    Ecuaciones
  </div>
  <div class="card-body">
    <h5 class="card-title">Ecuacion</h5>
    <p id="latex_f" class="card-text"> </p>
  </div>
  <div id="prim_container" class="card-body" style="display:none">
    <h5 class="card-title">Primera Derivada</h5>
    <p id="latex_fprim" class="card-text"></p>
  </div>
  <div id="g_container" class="card-body" style="display:none">
    <h5 class="card-title">Ecuacion g</h5>
    <p id="latex_g" class="card-text"></p>
  </div>
</div>
    <div >
        <div class="input-group mb-3">
          <span class="input-group-text" id="">Error estimado</span>
          <input id="Es" type="text" class="form-control text-success" placeholder="" aria-label="Error_estimado" aria-describedby="Error_estimado" disabled>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text" id="">Raiz</span>
          <input id="raiz" type="text" class="form-control text-success" placeholder="" aria-label="Raiz" aria-describedby="Raiz" disabled >
        </div>
    </div>
<hr/>
<p class="h4">Tabla de datos:</p>
<div class="table-responsive">
    <table class="table table-hover table-responsive" id="dt" width="100%" cellspacing="0">
        <thead class="table-dark">
            <tr id="td_cab">

            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="modalAlert" tabindex="-1" role="dialog" aria-labelledby="modalAlert" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle"></h5>
        <button type="button" class="close btnClosemodal" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="modalMsg" class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button  type="button" class="btn btn-secondary btnClosemodal" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<hr />
<p class="h4">Graficadora (Geogebra).</p>
<div id="ggb-element"></div> 


{% endblock %}

{% block scripts %}



<script>
    $(document).ready(function () {

    //GEOGEBRA API
    var params = { "appName": "graphing", "width": 800, "height": 600, "showToolBar": true, "showAlgebraInput": true, "showMenuBar": true, "showAlgebraInput": true };
    var geogebapp = new GGBApplet(params, true);
    window.addEventListener("load", function() { 
        geogebapp.inject('ggb-element');
    });
    

        
        $('button.btnClosemodal').click(function () {
             $('#modalAlert').modal('toggle');
        });

            $.validator.addMethod("regex", function(value, element, regex_exp) {
              return regex_exp.test(value)
            },"Ecuacion invalida. Exprese la ecuacion en terminos de x");

            jQuery.validator.setDefaults({
            debug: true,
            success: "valid"
        });
            $("#frmadd").validate({
            rules: {
                f: {
                    required: true,
                    regex:/(?:[0-9-+*/^()x]|abs|e\^x|ln|log|a?(?:sin|cos|tan)h?)+/,
                },
                g: {
                    required: true,
                    regex:/(?:[0-9-+*/^()x]|abs|e\^x|ln|log|a?(?:sin|cos|tan)h?)+/,
                },
                Xi: {
                    required: true,
                    number: true
                },
                Xu: {
                    required: true,
                    number: true
                },
                n: {
                    required: true,
                    number: true,
                    digits: true
                   
                }
                
            },
            messages: {
                 f: {
                    required: "Campo obligatorio",
                                        
                },
                Xi: {
                    required: "Campo obligatorio",
                    number: "Solo numeros (decimales con punto {.})"
                },
                Xu: {
                    required: "Campo obligatorio",
                    number: "Solo numeros (decimales con punto {.})"
                },
                n: {
                    required: "Campo obligatorio",
                    number: "Solo numeros enteros",
                    digits: "Solo numeros enteros"
                   
                }
            },
            errorContainer: "#msg_error_f, #msg_error_Xi, #msg_error_Xu, #msg_error_n",
            errorPlacement: function(label, element) {
                label.addClass('invalid-feedback');
                label.insertAfter(element);
            },
        });

        $('input:radio').click(function () {
            if ($(this).hasClass("method_a")) {
                $("input[name='Xu']").attr('disabled', true);
            } else {
                $("input[name='Xu']").attr('disabled', false);
            }
            if ($(this).val() != "rapshon_newton") {
                $('#prim_container').hide();
            } else {
                $('#prim_container').show();
            }
            if ($(this).val() != "punto_fijo") {
                $("input[name='g']").attr('disabled', true);
                $("#input-cont-g").hide();
                $('#g_container').hide();
            } else {
                $("input[name='g']").attr('disabled', false);
                $("#input-cont-g").show();
                $('#g_container').show();
            }

        })

        $('#submit').click(function(){
            var method = $("input[type='radio'][name='method']:checked").val() + "/";
            $('#td_cab').empty()
            $('tbody').empty()
            if (method == "biseccion/") {
                $('#td_cab').html(
                    " <th>Iteracion</th>" +
                    "<th>Xi</th>" +
                    "<th>Xu</th>" +
                    "<th>Xr</th>" +
                    "<th>f(Xi)</th>" +
                    "<th>f(Xr)</th>" +
                    "<th>f(Xi)*f(Xr)</th>" +
                    "<th>Ea</th>"
                )
            } else if (method == "rapshon_newton/") {
                $('#td_cab').html(
                    " <th>Iteracion</th>" +
                    "<th>Xi</th>" +
                    "<th>f(Xi)</th>" +
                    "<th>f'(Xi)</th>" +
                    "<th>Xi+1</th>" +
                    "<th>Ea</th>"
                )
            } else if (method == "secante/") {
                $('#td_cab').html(
                    " <th>Iteracion</th>" +
                    "<th>Xi</th>" +
                    "<th>Xi-1</th>" +
                    "<th>Xi+1</th>" +
                    "<th>f(Xi)</th>" +
                    "<th>f(Xi-1)</th>" +
                    "<th>Ea</th>"
                )

            } else if (method == "regla_falsa/") {
                $('#td_cab').html(
                    " <th>Iteracion</th>" +
                    "<th>Xi</th>" +
                    "<th>Xu</th>" +
                    "<th>f(Xi)</th>" +
                    "<th>f(Xu)</th>" +
                    "<th>r</th>" +
                    "<th>f(r)</th>" +
                    "<th>Ea</th>" 
                )
            } else if (method == "punto_fijo/") {
                $('#td_cab').html(
                    " <th>Iteracion</th>" +
                    "<th>g(Xi)</th>" +
                    "<th>Ea</th>" 
                )
            }
           




            /*console.log($("#dt th").length)*/
        /*        */

            if ($("#frmadd").valid() == true) {


                $.ajax({
                    url: method,
                    type: 'POST',
                    dataType: 'json',
                    data: JSON.parse(toJSONString("frmadd")),
                    cache: 'false',
                    beforeSend: function () {
                        // setting a timeout
                        $('#submit_text').addClass('spinner-grow spinner-grow-sm');
                    }
                }).done(function (data) {
                    if (data['code'] == 1) {
                        $('#modalTitle').html('Error');
                        $('#modalMsg').html(data['msg']);
                        $('#modalAlert').modal('toggle');

                    } else {
                        $('#raiz').val(data['result'][0]['root']);
                        $('#Es').val(data['result'][0]['Es']);
                        for (i = 0; i < data['rows'].length; i++) {
                            $('tbody').append("<tr id='r" + i + "'></tr>")
                            for (j = 0; j < $("#dt th").length; j++) {
                                $("#r" + i).append(
                                    "<td>" +
                                    data['rows'][i][j] +
                                    "</td>"
                                )
                            }
                        }
                        console.log("$$" + data['result'][0]['f'] + "$$")
                        $('#latex_f').text("$$f(x)=" + data['result'][0]['f'] + "$$")
                        MathJax.typeset(["#latex_f"]);

                        if (method == "rapshon_newton/") {
                            $('#latex_fprim').text("$$f'(x)=" + data['result'][0]['fprim'] + "$$")
                            MathJax.typeset(["#latex_fprim"]);
                        } else if (method == "punto_fijo/") {
                            $('#latex_g').text("$$g(x)=" + data['result'][0]['g'] + "$$")
                            MathJax.typeset(["#latex_g"]);
                        }
                        ggbApplet.evalCommand($('input:eq(1)').val());
                    }
                    
                    $('#submit_text').removeClass('spinner-grow spinner-grow-sm');
                });

            }
            else
            {
                $('#modalTitle').html('Error');
                $('#modalMsg').html("Los campos no cumplen las condiciones.");
                $('#modalAlert').modal('toggle');
            }
        })

    });

    function toJSONString(form) {
        var form = document.getElementById(form);
        var obj = {};
        var elements = form.querySelectorAll("input");
        for (var i = 0; i < elements.length; ++i) {
            var element = elements[i];
            var name = element.name;
            var value = element.value;

            if (name) {
                obj[name] = value;
                if (name == 'method') {
                    obj[name] = $("input[type='radio'][name='method']:checked").val();
                }
            }
            
        }
        console.log(JSON.stringify(obj));
        return JSON.stringify(obj);
    }
</script>

{% endblock %}
